@{ string Identity = ViewBag.Identity;}
           
<h1>@Identity</h1> 


<div class="col-lg-10">
    <a href='@Url.Action("Register", "Account")'>
        <i class="glyphicon glyphicon-trash"></i>
    </a>
</div>

<div class="col-lg-10">
    <a href='@Url.Action("Login", "Account")'>
        <i class="glyphicon glyphicon-trash"></i>
    </a>
</div>

<div class="col-lg-10">
    <a href='@Url.Action("Logoff", "Account")'>
        <i class="glyphicon glyphicon-trash"></i>
    </a>
</div>